.hour {
  margin-top: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hour > h2 {
  margin: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.04em;
  color: #293845;
}
